/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

/* SIDEBAR NAVIGATION STYLES */

/* A link that has not been visited */
.sidebar-heading:link {
  color: black;
  text-decoration: none;
}

/* A link that has been visited */
.sidebar-heading:visited {
  color: black;
  text-decoration: none;
}

/* A link that is hovered on */
.sidebar-heading:hover {
  color: black;
  text-decoration: none;
}

/* A link that is selected */
.sidebar-heading:active {
  color: black;
  text-decoration: none;
}

.canal
{
  max-height: 49px;
}

.buttonEditOverChannel
{
  position: relative;
  bottom: 78%;
  left: 70%;
  z-index: 1000;
  max-width: 30px;
}

.buttonDeleteOverChannel
{
  position: relative;
  bottom: 78%;
  left: 71%;
  z-index: 1000;
  max-width: 30px;
}

.center-text
{
  text-align: center;
}

/* CHAT STYLES*/
.channelTitle
{
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom:0px;
}

.channelDescription
{
  margin-bottom:0px;
  font-size: 0.9rem;
  color:grey;
}

.message
{
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.message:hover
{
  background-color:#f5f5f5;
}

.message > p
{
  margin-bottom: 0.5rem;
}

.messageContent
{
  margin-left: 1%;
}

.messageTitle > p
{
  margin-bottom: 0.5rem;
}

.messageTime
{
  color: #a0a0a0;
  font-size: .75rem;
  margin-left: 2%;
}

.messageUsername
{
  font-weight: 600;
}

.messageTitle
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: baseline;
}

.messageBody
{
  font-size: 0.9rem;
}

.chatContainer
{
  max-width: 100%;
  overflow: hidden;
}

.chatRow
{
  overflow-y: scroll;
  max-height: 75vh;
}

.footer
{
  padding: 24px;
}

.rc-message-box
{
  position: relative;
  width: 100%;
  font-size: .875rem;
  font-size: var(--message-box-text-size);
  border: 2px solid #d1cece;
}

.rc-message-box__container
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .75rem 0;
  cursor: text;
  transition: background-color .3s;
  border-width: 2px;
  border-width: var(--message-box-container-border-width);
  border-color: #cbced1;
  border-color: var(--message-box-container-border-color);
  border-radius: 2px;
  border-radius: var(--message-box-container-border-radius);
  line-height: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rc-message-box__textarea 
{
  overflow-y: auto;
  width: 100%;
  height: 15px;
  min-height: 21px;
  max-height: 155px;
  padding: 0;
  resize: none;
  border: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: .875rem;
  font-size: var(--message-box-text-size);
}

/* NEW CHANNEL STYLES*/

.inputText
{
  border: 0;
  width: 90%;
}

.inputTextBox_container
{
  padding: .5rem 0;
  width: 100%;
}

.input-icon
{
  color: #656565;
  margin-left: 10px;
  margin-right: 15px;
}

.form-label
{
  font-weight: 550;
}