/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

.message > p
{
  margin-bottom: 0.5rem;
}

.messageTitle > p
{
  margin-bottom: 0.5rem;
}

.message
{
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.messageTime
{
  color: #a0a0a0;
  font-size: .75rem;
  margin-left: 2%;
}

.messageUsername
{
  font-weight: 600;
}

.messageTitle
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: baseline;
}

.messageBody
{
  font-size: 0.9rem;
}

.chatContainer
{
  max-width: 100%;
  padding: 40px;
}