doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/simple-sidebar.css')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css",integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay",crossorigin="anonymous")
  body
   #wrapper.d-flex
    #sidebar-wrapper.bg-light.border-right
      a.asome.sidebar-heading(href='/')
        i.fas.fa-home
        |       #{title}
      .list-group.list-group-flush
        each channel in channels
          .canal
            a.list-group-item.list-group-item-action.bg-light(href='/channel/'+channel._id) # #{channel.name}
            a.btn.btn-sm.btn-primary.buttonEditOverChannel(href='/editChannel/'+channel._id)
              i.fas.fa-edit.fa-sm
            button.btn.btn-sm.btn-danger.buttonDeleteOverChannel.open-DeleteChannelModal(data-toggle="modal" data-target="#normalModal" data-id="#{channel._id}")
              i.fas.fa-trash-alt.fa-sm
        a.list-group-item.list-group-item-action.bg-light.center-text(href='/newChannel')
            i.fas.fa-plus-circle.fa-sm
            |  Nuevo canal
    block content

          
      footer
        .row
          .col-xs-12
            small &copy; Master Tecnologías y Aplicaciones Informáticas 2019


#normalModal(class="modal fade")
  div(class="modal-dialog")
    div(class="modal-content")
      div(class="modal-header")
        h5(class="modal-title") Borrar canal
        button(type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true") &times;
      
      div(class="modal-body")
        p ¿Estas seguro de querer borrar el canal?
        input(type="hidden" id="channelId" value="")
        div(class="modal-footer")
          button(type="button" class="btn btn-default" data-dismiss="modal") Cancelar
          button(type="button" onclick="deleteChannel()" class="btn btn-danger") Si, borralo!

script(src='/javascripts/jquery.min.js')
script(src='/bootstrap/js/bootstrap.js')
script(src='/javascripts/chat.js')