extends layout

include _includes/sharedHTMLfunctions

block content
    #page-content-wrapper
        nav.navbar.navbar-expand-lg.navbar-light.bg-light.border-bottom
            .headerContent
                p.channelTitle= channel.name
                p.channelDescription= channel.description
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
        .container.chatContainer
            .row
                .col-xs-12.col-sm-12
                    .row.list-group
                        each message in messages
                            .col-sm-12.message
                                .messageContent
                                    .messageTitle
                                        p.messageUsername= message.author
                                        span.pull-right.messageTime 8:11 AM
                                    p.messageBody.address= message.messageText
        // Footer
        footer.page-footer.font-small.blue.footer
            form#chatboxForm.form-horizontal(action="", method="post", role="form")
                .rc-message-box.rc-new
                    .form-group
                        label.rc-message-box__container
                            textarea#chatbox.rc-message-box__textarea(name='messageText', placeholder='Message', rows='1', style='height: 22px;')
                    //button.btn.btn-default.pull-right Add my review